.login__content {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form__heading h2 {
    text-align: center;
    color: #75594a;
    margin: 50px auto;
    font-weight: normal;
}

.form {
    width: 100%;
}

.form__group {
    margin-bottom: 20px;
}

.form__label--item {
    display: block;
    margin-bottom: 5px;
    color: #75594a;
}

.form__input--text input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #f5f5f5;
}

.form__button {
    text-align: center;
    margin-top: 40px;
}

.form__button-submit {
    width: auto;
    min-width: 200px;
    padding: 10px 20px;
    background-color: #75594a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form__button-submit:hover {
    background-color: #5a4738;
}

body {
    background-color: #f0ece9;
}

.form__error {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
}